/* SOCIAL STUFF */
.social_container {
  padding: 25px 50px;
}
a {
  /* margin: 1rem; */
  transition: transform 250ms;
  display: inline-block;
  color: white;
}
.social_container a {
  margin: 1rem;
}

a:hover {
  transform: translateY(-2px);
}
